.header {
    padding: 30px;
    background-color: #CCC;
    color: #FFF;
}

.menu {
    background-color: #333;
    color: #FFF;
}
.menu ul {
    list-style-type: none
}
.menu ul li {
   float: left;
   padding: 6px 7px;
}
.menu:after {
   clear: both;
   display: table;
   content: "";
}